/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #f5f5f5;
    width: 75vw;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
}

input[type="text"],
input[type="number"] {
    width: 50%;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
}

.btn {
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    margin: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    margin-top: 20px;
}

#network,
#network2 {
    width: 90vw !important;
    height: 90vh !important;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
} */

input[type="text"],
input[type="number"] {
    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0ms;
}


::selection {
    color: #000;
    background-color: #c1daf3cb;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eeeff1dd;
    border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b5b5b7cf;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #818282c3;
    border-radius: 20px;
}

.version {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}