* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --blue-color: #eff2f6;
    --grey-color: #707070;
    --grey-color-light: #aaa;

    --blue-color-hover: #e3e6ed;

    --link-hover: #333;
    --text-color: #141824;

    --border: #cbd0dd;
    --border-hover: #333;

    --sidebar: #fff;
    --navbar: #fff;

    --navbar-blur: rgba(255, 255, 255, 0.5);

    --button: #f5f7fa;
    --button-hover: #cbd0dd;

    --scrollbar: #fff;
    --scrollbar-thumb: rgb(170, 175, 186);
    --scrollbar-thumb-hover: #d3d6de;

    --body: #f5f7fa;
    --toast: #777;
    --toast-color: #e3e6ed;
    --sidebar-blur: rgba(255, 255, 255, 0.5);
}

body.dark {
    --white-color: #333;
    --blue-color: #31374a;
    --grey-color: #f2f2f2;
    --grey-color-light: #aaa;

    --blue-color-hover: rgb(65, 73, 99);

    --link-hover: white;
    --text-color: #e3e6ed;

    --border: #31374a;
    --border-hover: #777;

    --sidebar: #141824;
    --navbar: #141824;

    --navbar-blur: rgba(20, 24, 36, 0.5);

    --button: #0f111a;
    --button-hover: #141824;

    --scrollbar: #141824;
    --scrollbar-thumb: #31374a;
    --scrollbar-thumb-hover: rgb(65, 73, 99);

    --toast: #31374a;
    --toast-color: #e3e6ed;
    --sidebar-blur: rgba(20, 24, 36, 0.5);
}


body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color) !important;
    background-color: var(--button) !important;
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
}

.head {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: var(--navbar);
    color: var(--text-color);
    height: 50px;
    border-bottom: 1.5px solid var(--border);
}


.head select {
    width: 10vw;
}


#map {
    margin: 20px;
}

@media (max-width: 600px) {

    #map {
        height: 300px;
        margin: 10px;
    }

}

.pre {
    margin: 20px;
    padding: 20px;
    background-color: var(--blue-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--border);
    border: 1px solid var(--border);
    background-color: var(--button);
}

.hidden {
    display: none;
}

.leaflet-popup-content-wrapper {
    background: var(--white-color) !important;
    color: var(--text-color) !important;
    border-radius: 5px !important;
    box-shadow: 0 0 5px var(--border) !important;
    border: 1px solid var(--border) !important;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

select {
    border-radius: 5px !important;
    border: 1px solid var(--border) !important;
    background-color: var(--button) !important;
    color: var(--text-color) !important;
}

select:hover {
    border: 1px solid var(--border-hover);
}